<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer" routerLink="/search">
  <h2>Frequently Asked Questions</h2>  
</div>
<p-accordion [multiple]="true">
  <p-accordionTab header="Why are there no flights with American Airlines?">
      The <a href="https://developers.amadeus.com/">API</a> we use to get the flight data does not support American Airlines at this time.
  </p-accordionTab>
  <p-accordionTab header="Why are there no flights with Southwest?">
      Southwest doesn't let third party apps like Google Flights, Expedia, Kayak or other travel agencies(including us :p) share or sell its fares.
  </p-accordionTab>
  <p-accordionTab header="What APIs do we use?">
    We use
    <ul>
      <li><a href="https://developers.google.com/maps">Google Maps API</a> for driving and transit times</li>
      <li><a href="https://developers.amadeus.com/">Amadeus API</a> for flight data</li>
    </ul>

      
  </p-accordionTab>
</p-accordion>

<!-- <p-card>
  <div>
    Tell us your recovery email address to get sent a reset link:
    <br>
    
    <label for="email">Email: </label>
    <input pInputText type="text" id="email" name="email" size="35" [(ngModel)]="email">
    <button pButton pRipple type="button"  label="Send Link"></button>
    <br>
  </div>
</p-card> -->

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
    <p> 2022 Flyin' Pigs </p>
  </footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>