<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="assets/images/BOTTOM_CROPPED_LOGO.png" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer; width:20%" routerLink="/search">
  <h2>Frequently Asked Questions</h2>  
</div>

<!-- FAQ ACCORDION -->
<p-accordion [multiple]="true" >
  <p-accordionTab header="Why was Flyin' Pigs created?">
    Flyin' Pigs was created by Charlie Hyun, Mark, Sarah Mi, and Jessica Yeh for their 2022 Senior Design Project (CS 407) at Purdue University.
    It was created to help users plan trips more efficiently with the ability to start and end their trips from local addresses to check out more airports.
  </p-accordionTab>
  <p-accordionTab header="Why are there no flights with American Airlines?">
      The<a href="https://developers.amadeus.com/">API</a>we use to get the flight data does not support American Airlines at this time.
  </p-accordionTab>
  <p-accordionTab header="Why are there no flights with Southwest?">
      Southwest doesn't let third party apps like Google Flights, Expedia, Kayak or other travel agencies(including us :p) share or sell its fares.
  </p-accordionTab>
  <p-accordionTab header="What APIs do we use?">
    We use
    <ul>
      <li><a href="https://developers.google.com/maps">Google Maps API</a>for driving and transit times</li>
      <li><a href="https://developers.amadeus.com/">Amadeus API</a>for flight data</li>
    </ul>
  </p-accordionTab>
</p-accordion>

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
    <p> 2022 Flyin' Pigs </p>
  </footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>