<!-- Header -->
<login-signup *ngIf="!auth.isLoggedIn()" style="position: absolute; right: 0px;"></login-signup>
<user-menu *ngIf="auth.isLoggedIn()" style="position: absolute; right: 0px;"></user-menu>
<div>
  <img src="assets/images/BOTTOM_CROPPED_LOGO.png" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer; width:20%" routerLink="/search">
  <h2>Frequently Asked Questions</h2>  
</div>

<!-- FAQ ACCORDION -->
<p-accordion [multiple]="true">
  <p-accordionTab header="Why was Flyin' Pigs created?" [selected]="true">
    Flyin' Pigs was created by Charlie Hyun, Mark, Sarah Mi, and Jessica Yeh for their 2022 Senior Design Project (CS 407) at Purdue University.
    It was created to help users plan trips more efficiently with the ability to start and end their trips from local addresses to check out more airports.
  </p-accordionTab>
  <p-accordionTab header="How do you use the service?" [selected]="true">
    If you are just browsing prices for a future trip, click on the Explore Tab to get started.
    If you have a specific trip in mind, use the Search Trips tab to search for trips.
    <div align="left" class="steps">
      <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
        <i class="pi pi-pencil"></i>
      </span>
      Enter your trip information into the fields above.
      <br>
      <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
        <i class="pi pi-search"></i>
      </span>
      Click the Search button to find your available trips! 
      <br>
      <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
        <i class="pi pi-filter"></i>
      </span>
      If you want to further filter your trips, use the available filters and click Filter to see the trips that match your criteria. <br>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Why are there no flights with American Airlines?">
      The<a target="_blank" rel="noopener noreferrer" href="https://developers.amadeus.com/self-service/category/air/api-doc/flight-offers-search">API</a>we use to get the flight data does not support American Airlines at this time.
  </p-accordionTab>
  <p-accordionTab header="Why are there no flights with Southwest?">
      Southwest doesn't let third party apps like Google Flights, Expedia, Kayak or other travel agencies(including us :p) share or sell its fares.
  </p-accordionTab>
  <p-accordionTab header="What APIs do we use?">
    We use
    <ul>
      <li><a target="_blank" rel="noopener noreferrer" href="https://developers.google.com/maps">Google Maps API</a>for driving and transit times</li>
      <li><a target="_blank" rel="noopener noreferrer" href="https://developers.amadeus.com/">Amadeus API</a>for flight data</li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="What search fields do I need to input and what do they mean?">
    We split our input parameters into 3 categories: departure(Where from?), arrival(Where to?), and general
    <ul>
      <li>Departure(Where from?)</li>
      <ul>
        <li>Starting Address</li>
        <li>Mode of Transport</li>
        <li>Maximum approximate d</li>
      </ul>
      <li>Arrival(Where to?)</li>
      <li>General</li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="How do you guys make money?">
    We don't :( <br>
    If you would like to keep the piggie afloat, you can donate<a target="_blank" rel="noopener noreferrer" href="https://google.com/">here</a>
  </p-accordionTab>
</p-accordion>

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Contact Us" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
    <p> 2022 Flyin' Pigs </p>
  </footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>