<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer" routerLink="/search">
  <h2>Feedback</h2>  
</div>

<!-- <p-card>
  <div>
    Tell us your recovery email address to get sent a reset link:
    <br>
    
    <label for="email">Email: </label>
    <input pInputText type="text" id="email" name="email" size="35" [(ngModel)]="email">
    <button pButton pRipple type="button"  label="Send Link"></button>
    <br>
  </div>
</p-card> -->

<footer>
    <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" (click)="goToSearch()"></p-button>
    <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" (click)="goToFAQ()"></p-button>
    <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" (click)="goToFeedback()"></p-button>
    <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" (click)="goToGithub()"></p-button>
    <p> 2022 Flyin' Pigs </p>
</footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>