<!-- Header -->
<login-signup *ngIf="!auth.isLoggedIn()" style="position: absolute; right: 0px;"></login-signup>
<user-menu *ngIf="auth.isLoggedIn()" style="position: absolute; right: 0px;"></user-menu>
<div>
  <img src="assets/images/BOTTOM_CROPPED_LOGO.png" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer; width:20%" routerLink="/search">
  <h2>My Account Info</h2>
  <p>{{ details.email }}</p>
</div>

<p-card styleClass="p-shadow-3">
  <div>
    Change Password:
    <!-- Password -->
    <h6><br>Password
      <i class="pi pi-info-circle" style="white-space: pre-line" 
        pTooltip="Minimum 8 characters
        Requires at least one of each: 
        - Uppercase
        - Lowercase
        - Number
        - Special character" 
        tooltipPosition="top"
      ></i>
    </h6>
    <p-password [(ngModel)]="password" id="password" [toggleMask]="true"></p-password>

    <h6><br>Confirm Password</h6>
    <p-password [(ngModel)]="confPassword" [toggleMask]="true" [feedback]="false"></p-password>
    <br><br>
    <button pButton pRipple class="resetButton" type="button" label="Reset Password" (click)="handleResetPassword()"></button>
    <br>
  </div>
  <div>
      Save Address for Default Start Location:
      <!-- Password -->
      <h6><br> Address
      </h6>
      <input [(ngModel)]="address"  pInputText type="text" id="address" name="address" ngx-google-places-autocomplete [options]="options"
             (onAddressChange)="AddressChange1($event)"  size="51">
      <button pButton pRipple class="resetButton" type="button" label="Save Address" (click)="handleSetAddress()"></button>
      <br>
    </div>
</p-card>

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
    <p> 2022 Flyin' Pigs </p>
  </footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>