<p-toast position="top-left"></p-toast>

<!-- Log in -->
<button *ngIf="!loggedIn" pButton type="button" class="p-button-sm" (click)="showLogin()" label="Log In"></button>
<p-dialog header="Log In" [(visible)]="displayLogin" [modal]="true" [style]="{width: '450px'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <h6>Email</h6>
    <input pInputText type="email" id="emailL" [(ngModel)]="emailL">
    <h6>
        <br>
        Password
        <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
        <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
    </h6>
    <input pInputText [type]="passHide ? 'password' : 'text'" id="passL" [(ngModel)]="passL">
    <button pButton label="Forgot password?" class="p-button-link" (click)="handlePassword()"></button>

    <ng-template pTemplate="footer">
        <button pButton type="button" (click)="switchModal()" label="Don't have a Flyin' Pigs account?" class="p-button-sm p-button-outlined p-button-secondary"></button>
        <button pButton type="button" (click)="handleLogin()" class="p-button-sm" label="Log In"></button>
    </ng-template>
</p-dialog>

<!-- Sign up -->
<button *ngIf="!loggedIn" pButton type="button" class="p-button-sm p-button-secondary" (click)="showSignup()" label="Sign Up"></button>
<p-dialog header="Sign Up" [(visible)]="displaySignup" [modal]="true" [style]="{width: '450px'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <h6>Email</h6>
    <input pInputText type="email" id="emailS" [(ngModel)]="emailS">
    <h6>
        <br>
        Password
        <i class="pi pi-info-circle" style="white-space: pre-line" 
            pTooltip="Must be at least 8 characters.
            Requires at least one of each: 
            - Uppercase
            - Lowercase
            - Number
            - Special character" 
        tooltipPosition="top"></i>

        <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
        <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
    </h6>
    <input pInputText [type]="passHide ? 'password' : 'text'" id="passS"  [(ngModel)]="passS">
    <h6>
        <br>
        Confirm Password
        <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
        <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
    </h6>
    <input pInputText [type]="passHide ? 'password' : 'text'" id="confPassS" [(ngModel)]="confPassS">

    <ng-template pTemplate="footer">
        <button pButton type="button" (click)="switchModal()" label="Already have a Flyin' Pigs account?" class="p-button-sm p-button-outlined p-button-secondary"></button>
        <button pButton type="button" (click)="handleSignup()" class="p-button-sm" label="Sign Up"></button>
    </ng-template>
</p-dialog>

<!-- Show if logged in -->
<!-- <p-menu #menu [popup]="true" [model]="userOptionsMenu"></p-menu> -->
<button *ngIf="loggedIn" pButton type="button" icon="pi pi-user" class="p-button-rounded p-button-secondary"></button>
<button *ngIf="loggedIn" pButton type="button" (click)="handleLogOut()" class="p-button-sm" label="Log Out"></button>
