<p-toast position="top-left"></p-toast>

<div>
    <div class="p-grid p-nogutter">
      <div class="p-col">
        <h4>Where from?</h4>
        <!-- Address -->
        <span>
          <label for="daddress">
            Starting Address
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip='Where are you traveling from?
              This can be an address or a general location. 
              E.g. "305 N University St, West Lafayette, IN 47907"
              or "Chicago, IL"'
              tooltipPosition="top"
            ></i>
          </label>
          <input 
            pInputText 
            type="text" 
            id="daddress" 
            name="daddress" 
            size="35" 
            required 
            ngx-google-places-autocomplete 
            [options]="options" 
            (onAddressChange)="AddressChange1($event)" 
            [(ngModel)]="departAdd"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
        </span>
        <br>

        <!-- Transportation method -->
        <span>
          <label for="dTransportType">
            Mode of Transport
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How will you be getting to the departure airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="dTransportType" 
            [options]="dTransportType" 
            [(ngModel)]="selectedDTransport" 
            optionLabel="name"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedDTransport">
                <fa-icon *ngIf="selectedDTransport.name == 'Car'" [icon]="['fas', 'car']"></fa-icon>
                <fa-icon *ngIf="selectedDTransport.name == 'Public Transit'" [icon]="['fas', 'bus']"></fa-icon>
                {{selectedDTransport.name}}
              </div>
            </ng-template>
            <ng-template let-transport pTemplate="dTransportType">
              <div class="flex align-items-center">
                <fa-icon [icon]="['fas', transport.icon]"></fa-icon>
                <span>{{transport.name}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </span>
        <br>

        <!-- Transport Hours Before Flight -->
        <span>
          <label for="drivingStartHours">
            Maximum approximate {{selectedDTransport.code}} time
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How long are you willing to drive/transit to get to the departure airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="drivingStartHours" 
            [options]="hours" 
            [(ngModel)]="maxTimeStart" 
            optionLabel="name"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
          </p-dropdown>
        </span>
      </div>

      <p-divider layout="vertical"></p-divider>

      <div class="p-col">
        <h4>Where to?</h4>
        <!-- Address -->
        <span>
          <label for="aaddress">
            Destination Address
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip='Where are you traveling to? 
              This can be an address or a general location. 
              E.g. "305 N University St, West Lafayette, IN 47907"
              or "Chicago, IL"'
              tooltipPosition="top"
            ></i>
          </label>
          <input 
            pInputText 
            type="text" 
            id="aaddress" 
            name="aaddress" 
            size="35" 
            required 
            ngx-google-places-autocomplete 
            [options]="options" 
            (onAddressChange)="AddressChange2($event)" 
            [(ngModel)]="arriveAdd"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
        </span>
        <br>

        <!-- Transportation method -->
        <span>
          <label for="aTransportType">
            Mode of Transport
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How will you be getting to your destination from the airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="aTransportType" 
            [options]="aTransportType" 
            [(ngModel)]="selectedATransport" 
            optionLabel="name"
            tooltipPosition="right"
            tooltipEvent="focus"
            dropdown
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedATransport">
                <fa-icon *ngIf="selectedATransport.name == 'Car'" [icon]="['fas', 'car']"></fa-icon>
                <fa-icon *ngIf="selectedATransport.name == 'Public Transit'" [icon]="['fas', 'bus']"></fa-icon>
                {{selectedATransport.name}}
              </div>
            </ng-template>
            <ng-template let-transport pTemplate="item">
              <div class="flex align-items-center">
                <fa-icon [icon]="['fas', transport.icon]"></fa-icon>
                <span>{{transport.name}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </span>
        <br>
      
        <!-- Transport Hours After Flight -->
        <span>
          <label for="drivingEndHours">
            Maximum approximate {{selectedATransport.code}} time
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How long are you willing to drive/transit to get to your destination from the airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            [options]="hours" 
            [(ngModel)]="maxTimeEnd" 
            optionLabel="name" 
            tooltipPosition="right" 
            tooltipEvent="focus"
          ></p-dropdown>
        </span>
      </div>
    </div>
    <br><hr><br>

    <!-- SEARCH TAB -->
    <div *ngIf="!explore" style="display: flex;">
      <!-- One way/Round trip -->
      <p-selectButton [options]="oneWayRoundTrip" [(ngModel)]="isRoundTrip" optionLabel="label" optionValue="value"></p-selectButton>
      <!-- One Way 
      <p-inputSwitch [(ngModel)]="isRoundTrip" (onChange)="handleOneWay($event)" [style]="{'vertical-align':'middle'}"></p-inputSwitch>
      Round Trip &nbsp; -->

      <!-- Passenger # and selection Overlay -->
      <button pButton pRipple type="button" (click)="op.toggle($event)" icon="pi pi-user" label="{{totalPass}}" [style]="{'vertical-align':'middle'}"></button>
      <p-overlayPanel #op [showCloseIcon]="true" (onHide)="updatePassengers()"> 
        <div>
          <label for="adult" class="overlay1">Adults</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="adultPass" 
              inputId="adult" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="child" class="overlay1">Children &nbsp;</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="childPass" 
              inputId="child" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="infant" class="overlay1">Infants</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="infantPass" 
              inputId="infant" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <button pButton pRipple type="button" (click)="updatePassengers(); op.hide()">
            <i class="pi pi-check"></i>
          </button>
        </div>
      </p-overlayPanel>
            
      <!-- Class -->
      <span class="p-float-label">
        <p-dropdown [options]="classes" id="classes" [(ngModel)]="selectedClass" placeholder="Select a Class" optionLabel="name"></p-dropdown>
        <label for="classes">Class:</label>
      </span>
      
      <!-- Buffer Time -->
      <span class="p-float-label">
        <p-dropdown 
          id="bufferTime" 
          [options]="hours" 
          [(ngModel)]="bufferTime" 
          optionLabel="name"
          tooltipPosition="right" 
          tooltipEvent="focus"
        ></p-dropdown>
        <label for="bufferTime">Buffer Time:</label>
      </span>

      <!-- Dates -->
      <span class="p-float-label">
        <p-calendar 
          [style]="{'width':'175px'}" 
          [(ngModel)]="departDate"
          id="departDate"
          [readonlyInput]="true"
          [showIcon]="true" 
          [showButtonBar]="true" 
          [minDate]="date"
        ></p-calendar>
        <label for="departDate">Departure Date:</label>
      </span>

      <span class="p-float-label">
        <p-calendar 
          [style]="{'width':'175px'}" 
          [(ngModel)]="returnDate"
          id="returnDate"
          [readonlyInput]="true"
          [showIcon]="true" 
          [showButtonBar]="true" 
          [minDate]="departDate"
          *ngIf="isRoundTrip"
        ></p-calendar>
        <!-- <input pInputText type="date" [(ngModel)]="returnDate" id="returnDate" name="returnDate" min="{{this.departDate}}" *ngIf="isRoundTrip"> -->
        <label for="returnDate" *ngIf="isRoundTrip">Return Date:</label>
      </span>
    </div>

    <!-- EXPLORE TAB -->
    <div *ngIf="explore" style="display: flex;">
      <!-- Passenger # and selection Overlay -->
      <button pButton pRipple type="button" (click)="op.toggle($event)" icon="pi pi-user" label="{{totalPass}}" [style]="{'vertical-align':'middle'}"></button>
      <p-overlayPanel #op [showCloseIcon]="true" (onHide)="updatePassengers()"> 
        <div>
          <label for="adult" class="overlay1">Adults</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="adultPass" 
              inputId="adult" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="child" class="overlay1">Children &nbsp;</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="childPass" 
              inputId="child" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="infant" class="overlay1">Infants</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="infantPass" 
              inputId="infant" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <button pButton pRipple type="button" (click)="updatePassengers(); op.hide()">
            <i class="pi pi-check"></i>
          </button>
        </div>
      </p-overlayPanel>
            
      <!-- Class -->
      <span class="p-float-label">
        <p-dropdown [options]="classes" id="classes" [(ngModel)]="selectedClass" placeholder="Select a Class" optionLabel="name"></p-dropdown>
        <label for="classes">Class:</label>
      </span>
      
      <!-- Buffer Time -->
      <span class="p-float-label">
        <p-dropdown 
          id="bufferTime" 
          [options]="hours" 
          [(ngModel)]="bufferTime" 
          optionLabel="name"
          tooltipPosition="right" 
          tooltipEvent="focus"
        ></p-dropdown>
        <label for="bufferTime">Buffer Time:</label>
      </span>

      <!-- Date Range -->
      <span class="p-float-label">
        <p-calendar 
          [style]="{'width':'265px'}" 
          [(ngModel)]="dateRange"
          id="dateRange"
          selectionMode="range" 
          [readonlyInput]="true"
          inputId="range" 
          [showIcon]="true" 
          [showButtonBar]="true" 
          [minDate]="date"
        ></p-calendar>
        <label for="dateRange">Date Range:</label>
      </span>
    </div> 
</div>
<div align="center">
<!-- Clear/Search -->
<button pButton pRipple type="button" (click)="handleClear()" label="Clear Search" class="p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" (click)="handleSearch()" label="Search"></button>
</div>