<p-toast position="top-left"></p-toast>

<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="../../BOTTOM_CROPPED_LOGO.jpg" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer; width:20%" routerLink="/search">
  <h2>Reset Password</h2>  
</div>

<p-card>
  <div>
    Enter in your new password:
    <!-- Password -->
    <h6><br>Password
      <i class="pi pi-info-circle" style="white-space: pre-line" 
          pTooltip="Minimum 8 characters
          Requires at least one of each: 
          - Uppercase
          - Lowercase
          - Number
          - Special character" 
      tooltipPosition="top"></i>
    </h6>
    <p-password [(ngModel)]="newPass" [toggleMask]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>

    <h6><br>Confirm Password</h6>
    <p-password [(ngModel)]="confNewPass" [toggleMask]="true" [feedback]="false"></p-password>
    <br><br>
    <button pButton pRipple class="resetButton" type="button" (click)="handleResetPassword()" label="Reset Password"></button>
    <br>
  </div>
</p-card>

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
  <p> 2022 Flyin' Pigs </p>
</footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>
