<!-- Header -->
<!-- <login-signup style="position: absolute; right: 0px;"></login-signup> -->
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto;">
  <h2>Forgot Password?</h2>  
</div>

<!-- Main Search Content -->
<!-- <p-card> -->
  <!-- START -->
  <div>
    Enter in your new password:
    <br>
    <!-- Password -->
    <h6>
      <br>
      Password
      <i class="pi pi-info-circle" style="white-space: pre-line" 
          pTooltip="Must be at least 8 characters.
          Requires at least one of each: 
          - Uppercase
          - Lowercase
          - Number
          - Special character" 
      tooltipPosition="top"></i>

      <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
      <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
  </h6>
  <input pInputText [type]="passHide ? 'password' : 'text'" id="newPass">
  <!-- <input pInputText type="text" id="newPass" name="newPass" size="35"> -->
  <button pButton pRipple type="button" (click)="resetPassword()" label="Reset Password"></button>
  <br>
  </div>
  <!-- END -->
<!-- </p-card> -->


