<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto;">
  <h2>Reset Password</h2>  
</div>

<p-card>
  <div>
    Enter in your new password:
    <!-- Password -->
    <h6>
      <br>
      Password
      <i class="pi pi-info-circle" style="white-space: pre-line" 
          pTooltip="Must be at least 8 characters.
          Requires at least one of each: 
          - Uppercase
          - Lowercase
          - Number
          - Special character" 
      tooltipPosition="top"></i>

      <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
      <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
    </h6>
    <input pInputText [type]="passHide ? 'password' : 'text'" id="newPass"  [(ngModel)]="newPass">
    <br>
    <h6>
      <br>
      Confirm Password
      <i class="pi pi-info-circle" style="white-space: pre-line" 
          pTooltip="Must be at least 8 characters.
          Requires at least one of each: 
          - Uppercase
          - Lowercase
          - Number
          - Special character" 
      tooltipPosition="top"></i>

      <i class="pi pi-eye-slash" *ngIf="passHide" (click)="passShowHide()"></i>
      <i class="pi pi-eye" *ngIf="!passHide" (click)="passShowHide()"></i>
    </h6>
    <input pInputText [type]="passHide ? 'password' : 'text'" id="confNewPass"  [(ngModel)]="confNewPass">
    <br>
    <button pButton pRipple class="resetButton" type="button" (click)="handleResetPassword()" label="Reset Password"></button>
    <br>
  </div>
</p-card>

