<!-- Header -->
<!-- <login-signup style="position: absolute; right: 0px;"></login-signup> -->
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto;">
  <h2>Flyin' Pigs</h2>  
</div>
<!-- Main Search Content -->
<p-card header="Search Flights" [style]="{'width': '100%'}">
  <!-- COPY START -->
  <div>
    <div class="p-grid p-nogutter">
      <div class="p-col">
        <h4>Departure</h4>
        <!-- Address -->
        <span>
          <label for="daddress">
            Starting Address
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="Where are you leaving from? Input an address or a general location." 
              tooltipPosition="top"
            ></i>
          </label>
          <input 
            pInputText 
            type="text" 
            id="daddress" 
            name="daddress" 
            size="35" 
            required 
            ngx-google-places-autocomplete 
            [options]="options" 
            (onAddressChange)="AddressChange1($event)" 
            [(ngModel)]="departAdd"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
        </span>
        <br>

        <!-- Transportation method -->
        <span>
          <label for="dTransportType">
            Mode of Transport
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How will you be getting to the departure airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="dTransportType" 
            [options]="dTransportType" 
            [(ngModel)]="selectedDTransport" 
            placeholder="Select a Mode of Transport" 
            optionLabel="name"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
            <ng-template let-transport pTemplate="dTransportType">
              <div class="flex align-items-center">
                <fa-icon *ngIf="transport.name == 'Car'"[icon]="car"></fa-icon>
                <fa-icon *ngIf="transport.name == 'Public Transit'"[icon]="bus"></fa-icon>
                <span>{{transport.name}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </span>
        <br>

        <!-- Transport Hours Before Flight -->
        <span>
          <label for="drivingStartHours">
            Maximum approximate {{selectedDTransport.code}} time
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How long are you willing to travel to get to the departure airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="drivingStartHours" 
            [options]="hours" 
            [(ngModel)]="maxTimeStart" 
            optionLabel="name"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
          </p-dropdown>
        </span>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="p-col">
        <h4>Arrival</h4>
        <!-- Address -->
        <span>
          <label for="aaddress">
            Destination Address
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="Where are you traveling to?" 
              tooltipPosition="top"
            ></i>
          </label>
          <input 
            pInputText 
            type="text" 
            id="aaddress" 
            name="aaddress" 
            size="35" 
            required 
            ngx-google-places-autocomplete 
            [options]="options" 
            (onAddressChange)="AddressChange2($event)" 
            [(ngModel)]="arriveAdd"
            tooltipPosition="right" 
            tooltipEvent="focus"
          >
        </span>
        <br>

        <!-- Transportation method -->
        <span>
          
          <label for="aTransportType">
            Mode of Transport
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How will you be getting to your destination from the airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            id="aTransportType" 
            [options]="aTransportType" 
            [(ngModel)]="selectedATransport" 
            placeholder="Select a Mode of Transport" 
            optionLabel="name"
            tooltipPosition="right"
            tooltipEvent="focus"
            dropdown
          >
            <ng-template let-transport pTemplate="aTransportType">
              <div class="flex align-items-center">
                <fa-icon *ngIf="transport.name == 'Car'"[icon]="car"></fa-icon>
                <fa-icon *ngIf="transport.name == 'Public Transit'"[icon]="bus"></fa-icon>
                <span>{{transport.name}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          
          
        </span>
        <br>
        

        <!-- Transport Hours After Flight -->
        <span>
          <label for="drivingEndHours">
            Maximum approximate {{selectedATransport.code}} time
            <i class="pi pi-question-circle" style="white-space: pre-line" 
              pTooltip="How long are you willing to travel to get to your destination from the airport?" 
              tooltipPosition="top"
            ></i>
          </label>
          <p-dropdown 
            [options]="hours" 
            [(ngModel)]="maxTimeEnd" 
            optionLabel="name" 
            tooltipPosition="right" 
            tooltipEvent="focus"
          ></p-dropdown>
        </span>
      </div>
    </div>

    <div>
      <br><hr><br>
      <!-- One way/Round trip -->
      One Way 
      <p-inputSwitch [(ngModel)]="isRoundTrip" (onChange)="handleOneWay($event)" [style]="{'vertical-align':'middle'}"></p-inputSwitch>
      Round Trip &nbsp;

      <!-- Passenger # and selection Overlay -->
      <button pButton pRipple type="button" (click)="op.toggle($event)" icon="pi pi-user" label="{{totalPass}}"></button>
      <p-overlayPanel #op [showCloseIcon]="true" (onHide)="updatePassengers()"> 
        <div>
          <label for="adult" class="overlay1">Adults</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="adultPass" 
              inputId="adult" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="child" class="overlay1">Children &nbsp;</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="childPass" 
              inputId="child" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <label for="infant" class="overlay1">Infants</label>
          <div class="overlay2">
            <p-inputNumber 
              [(ngModel)]="infantPass" 
              inputId="infant" 
              [showButtons]="true" 
              buttonLayout="horizontal" 
              incrementButtonIcon="pi pi-plus" 
              decrementButtonIcon="pi pi-minus" 
              [min]=0 
              [size]=1
            ></p-inputNumber>
          </div>
          <br><br><br>
          <button pButton pRipple type="button" (click)="updatePassengers(); op.hide()">
            <i class="pi pi-check"></i>
          </button>
        </div>
      </p-overlayPanel>
            
      <!-- Class -->
      <p-dropdown [options]="classes" [(ngModel)]="selectedClass" placeholder="Select a Class" optionLabel="name"></p-dropdown>
      
      <!-- Dates -->
      <label for="departDate">Departure Date: </label>
      <input pInputText type="date" [(ngModel)]="departDate" id="departDate" name="departDate" min="{{this.date}}" required>
      <label for="returnDate" *ngIf="isRoundTrip">Return Date: </label>
      <input pInputText type="date" [(ngModel)]="returnDate" id="returnDate" name="returnDate" min="{{this.departDate}}" *ngIf="isRoundTrip">
    </div>
    
  </div>
  <div align="center">
    <!-- Clear/Search -->
    <button pButton pRipple type="button" (click)="handleClear()" label="Clear Search" class="p-button-outlined p-button-secondary"></button>
    <button pButton pRipple type="button" (click)="handleSearch()" label="Search"></button>
  </div>
  <!-- COPY END -->
</p-card>

<p-scrollTop
      target="parent"
      styleClass="custom-scrolltop"
      [threshold]="100"
      icon="pi pi-arrow-up"
    ></p-scrollTop>