<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="assets/images/BOTTOM_CROPPED_LOGO.png" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer; width:20%" routerLink="/search">
  <h2>Flyin' Pigs</h2>
</div>
<!-- Main Search Content -->
<p-tabView [style]="{'width': '100%'}" styleClass="p-shadow-3">
  <!-- SEARCH TRIPS -->
  <p-tabPanel header="Search Trips" leftIcon="pi pi-search">
    <search-box [style]="{'margin': '0px'}"></search-box>
  </p-tabPanel>
  
  <!-- EXPLORE -->
  <p-tabPanel header="Explore" leftIcon="pi pi-globe">
    <search-box [explore]="true" [style]="{'margin': '0px'}"></search-box>
  </p-tabPanel>
</p-tabView>

<p-card header="Get Started" subheader=" If you are just browsing prices for a future trip, click on the Explore Tab to get started. If you have a specific trip in mind, use the Search Trips tab to search for trips." [style]="{'margin': '0px'}" styleClass="p-shadow-3">
  <div align="left">
    <div class="steps">
      <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
        <i class="pi pi-pencil"></i>
      </span>
    </div>
    <div class="steps">
      Enter your trip information into the fields above. <br>
    </div>
    <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
      <i class="pi pi-search"></i>
    </span>
    Click the Search button to find your available trips! <br>
    <span class="custom-marker shadow-2" backgroundColor="#FFB6C1">
      <i class="pi pi-filter"></i>
    </span>
    If you want to further filter your trips, use the available filters and click Filter to see the trips that match your criteria. <br>
  </div>
</p-card>


<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
  <p> 2022 Flyin' Pigs </p>
</footer>

<p-scrollTop
  target="parent"
  styleClass="custom-scrolltop"
  [threshold]="100"
  icon="pi pi-arrow-up"
></p-scrollTop>