* {
    margin: 5px;
}

.overlay1 {
    float:left;
    padding-left:10px;
}
.overlay2 {
    float:right;
    padding-right:10px;
}

footer {
    text-align: center;
    padding: 3px;
}

:host ::ng-deep .p-tabview {
    .p-tabview-panels {
        outline: 1px solid lightgray;
    }
    // .p-tabview-nav-link {
    //     background-color: green;
    //     outline: 1px solid green;
    // }
}
