<!-- Header -->
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto;">
  <h2>Flyin' Pigs</h2>    
</div>

<!-- Main Search Content -->
<p-card header="Search Flights">
  <!-- COPY START -->
  <div>
    <!-- Class -->
    <p-dropdown [options]="classes" [(ngModel)]="selectedClass" placeholder="Select a Class" optionLabel="name"></p-dropdown>
              
    <!-- Transportation method -->
    <p-dropdown [options]="transportType" [(ngModel)]="selectedTransport" placeholder="Select a Mode of Transport" optionLabel="name"></p-dropdown>
    
    <!-- One way/Round trip -->
    One Way 
    <p-inputSwitch [(ngModel)]="isRoundTrip" (onChange)="handleOneWay($event)"></p-inputSwitch>
    Round Trip

    <!-- Passenger # and selection Overlay -->
    <p-button (click)="op.toggle($event)" icon="pi pi-user" label="{{totalPass}}"></p-button>
    <p-overlayPanel #op [showCloseIcon]="true" (onHide)="updatePassengers()"> 
    <div>
      <label for="adult" class="pass1">Adults</label>
      <div class="pass2" align="right">
        <p-inputNumber [(ngModel)]="adultPass" inputId="adult" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]=0 [size]=1></p-inputNumber>
      </div>
      <br><br><br>
      <label for="child" class="pass1">Children &nbsp;</label>
      <div class="pass2" align="right">
        <p-inputNumber [(ngModel)]="childPass" inputId="child" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]=0 [size]=1></p-inputNumber>
      </div>
      <br><br><br>
      <label for="infant" class="pass1">Infants</label>
      <div class="pass2" align="right">
        <p-inputNumber [(ngModel)]="infantPass" inputId="infant" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]=0 [size]=1></p-inputNumber>
      </div>
      <br><br><br>
      <p-button (onClick)="updatePassengers(); op.hide()" class="pass1">
      <i class="pi pi-check"></i>
      </p-button>
    </div>
    </p-overlayPanel>
    
    <!-- Trip Dates and Addresses -->
    
    <br>
    <!----
    <br>
    <form [formGroup]="dates" novalidate>
      <div class="form-group">
        <label class="center-block">Departure Date:
          <input class="form-control" formControlName="ddate" pInputText type="date" [(ngModel)]="ddate" id="ddate" name="ddate" required>
        </label>
      </div>
      <div *ngIf="dates.controls['ddate'].invalid && (dates.controls['ddate'].dirty || dates.controls['ddate'].touched || dates.ddate < this.date)" class="alert">
          <small class="text-danger" *ngIf="dates.controls['ddate'].errors.required">
          Please enter valid date!
          </small>
      </div>
    </form> 
    --->

    <label for="departDate">Departure Date: </label>
    <input pInputText type="date" [(ngModel)]="departDate" id="dddepartDateate" name="departDate" min="{{this.date}}" required>
    <label for="returnDate" *ngIf="isRoundTrip">Return Date: </label>
    <input pInputText type="date" [(ngModel)]="returnDate" id="returnDate" name="returnDate" min="{{this.departDate}}" *ngIf="isRoundTrip"><br>

    <label for="daddress">Departure Address: </label>
    <input pInputText type="text" id="daddress" name="daddress" size="35" required ngx-google-places-autocomplete [options]="options" (onAddressChange)="AddressChange1($event)" [(ngModel)]="departAdd">
    <label for="aaddress">Arrival Address: </label>
    <input pInputText type="text" id="aaddress" name="aaddress" size="35" required ngx-google-places-autocomplete [options]="options" (onAddressChange)="AddressChange2($event)" [(ngModel)]="arriveAdd">
    <br>
    
    <!-- Transport Hours Before and After Flight -->
    <label for="drivingStartHours">Maximum {{selectedTransport.code}} Time (start):</label>
    <p-dropdown [options]="hours" [(ngModel)]="maxTimeStart" optionLabel="name"></p-dropdown>
    <label for="drivingEndHours">Maximum {{selectedTransport.code}} Time (end):</label>
    <p-dropdown [options]="hours" [(ngModel)]="maxTimeEnd" optionLabel="name"></p-dropdown>
    
  </div>
  <div align="center">
    <!-- Clear/Search -->
    <button pButton pRipple type="button" (click)="handleClear()" label="Clear Search" class="p-button-outlined"></button>
    <button pButton pRipple type="button" (click)="handleSearch()" label="Search"></button>
  </div>
  <!-- COPY END -->
</p-card>

<div>
  backend call:
  <p-button (click)="FilterAirports()">Filter My Airports</p-button>
  <tr *ngFor="let airport of filteredAirports$ | async" >
    <td>{{airport.City}}</td>
    <td>{{airport.State}}</td>
  </tr>
</div>
