<p-toast position="top-left"></p-toast>

<!-- Header -->
<login-signup style="position: absolute; right: 0px;"></login-signup>
<div>
  <img src="favicon.ico" alt="Flyin' Pigs" style="display: block; margin-left: auto; margin-right: auto; cursor:pointer" routerLink="/search">
  <h2>Forgot Password?</h2>  
</div>

<p-card>
  <div>
    Tell us your recovery email address to get sent a reset link:
    <br>
    <!-- Email -->
    <h6><br>Email</h6>
    <input pInputText type="text" id="email" name="email" size="35" [(ngModel)]="email">
    <br><br>
    <button pButton pRipple type="button" (click)="handleForgotPassword()" label="Send Link"></button>
    <br>
  </div>
</p-card>

<footer>
  <p-button label="Search" styleClass="p-button-link" icon="pi pi-search" routerLink="/search"></p-button>
  <p-button label="FAQ" styleClass="p-button-link" icon="pi pi-question-circle" routerLink="/faq"></p-button>
  <p-button label="Give Feedback" styleClass="p-button-link" icon="pi pi-comment" routerLink="/feedback"></p-button>
  <p-button label="Github" styleClass="p-button-link" icon="pi pi-github" onclick="window.open('https://github.com/jyeh00/Flyin-Pigs','_blank')"></p-button>
  <p> 2022 Flyin' Pigs </p>
</footer>

<p-scrollTop 
  icon="pi pi-arrow-up" 
  width="2px"
  height="2px"
  styleClass="custom-scrolltop"
></p-scrollTop>