* {
    margin: 5px;
}

.pass1{
    float:left;
    padding-left:10px;
}
.pass2{
    float:right;
    padding-right:10px;

}

body{
    overflow-y:scroll;
}

:host ::ng-deep .p-panel {
    background: lightgray;
    .p-panel-header {
        background: lightgray;
    }
    .p-panel-content {
        background: white;
        border-radius: 5px;
        padding: 20px;
    }
}

:host ::ng-deep .p-accordion {
    background: blue;
    .p-accordion-header {
        background: red;
    }
    .p-accordion-content {
        background: green;
    }

}