* {
    margin: 5px;
}

.pass1{
    float:left;
    padding-left:10px;
}
.pass2{
    float:right;
    padding-right:10px;

}

.pass3{
    float:left;
    padding-left:5px;
    padding-top: 20px;
}

.pass4{
  float:left;
  padding-right:10px;
}
.pass5{
  float:right;
  padding-left:10px;

}

:host ::ng-deep .custom-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color);
  
    &:hover {
      background-color: var(--primary-color);
    }
  
    .p-scrolltop-icon {
      font-size: 1rem;
      color: var(--primary-color-text);
    }
  }

//   :host ::ng-deep .p-slider {
//     width: 20px;
// }

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
//     position: -webkit-sticky;
//     position: sticky;
//     top: 5rem;
// }