* {
    margin: 5px;
}

.pass1{
    float:left;
    padding-left:10px;
}
.pass2{
    float:right;
    padding-right:10px;

}

body{
    overflow-y:scroll;
}

.p-panel {
    background: purple;
    .p-panel-header {
        background: yellow;
    }
    .p-panel-content {
        background: orange;
    }
}

.p-accordion {
    background: blue;
    .p-accordion-header {
        background: red;
    }
    .p-accordion-content {
        background: green;
    }

}